:root {
    /* Colors */
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    /* Font */
    --fs-p: 15px;
    --fs-h1: 37.5px;
    --fs-h2: 25px;
    --ff: "Inter", sans-serif;
    --fw-s: 400;
    --fw-m: 700;
    --fw-l: 800;
}